<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.mfinatti.matheusmovies.movies">

    <!-- Dynamic feature configuration -->
    <dist:module
        dist:instant="false"
        dist:onDemand="false"
        dist:title="@string/feature_name" />

    <application
        android:icon="@mipmap/ic_launcher" />

</manifest>